[submodule "documentation/themes/github.com/FortAwesome/Font-Awesome"]
	path = documentation/themes/github.com/FortAwesome/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "documentation/themes/github.com/twbs/bootstrap"]
	path = themes/github.com/twbs/bootstrap
	url = https://github.com/twbs/bootstrap.git

[submodule "documentation/themes/github.com/google/docsy"]
	path = documentation/themes/github.com/google/docsy
	url = https://github.com/google/docsy.git
