# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: packagevariants.config.porch.kpt.dev
spec:
  group: config.porch.kpt.dev
  names:
    kind: PackageVariant
    listKind: PackageVariantList
    plural: packagevariants
    singular: packagevariant
  scope: Namespaced
  versions:
    - name: v1alpha1
      schema:
        openAPIV3Schema:
          description: PackageVariant represents an upstream and downstream porch package
            pair. The upstream package should already exist. The PackageVariant controller
            is responsible for creating the downstream package revisions based on the
            spec.
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: PackageVariantSpec defines the desired state of PackageVariant
              properties:
                adoptionPolicy:
                  type: string
                deletionPolicy:
                  type: string
                downstream:
                  properties:
                    package:
                      type: string
                    repo:
                      type: string
                  type: object
                upstream:
                  properties:
                    package:
                      type: string
                    repo:
                      type: string
                    revision:
                      type: string
                  type: object
              type: object
            status:
              description: PackageVariantStatus defines the observed state of PackageVariant
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
