# Copyright 2023 The kpt Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: remotesyncs.gitops.kpt.dev
spec:
  group: gitops.kpt.dev
  names:
    kind: RemoteSync
    listKind: RemoteSyncList
    plural: remotesyncs
    singular: remotesync
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RemoteSync is the Schema for the remotesyncs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RemoteSyncSpec defines the desired state of RemoteSync
            properties:
              clusterRef:
                description: ClusterReference contains the identify information need
                  to refer a cluster.
                properties:
                  apiVersion:
                    type: string
                  kind:
                    type: string
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - apiVersion
                - kind
                - name
                - namespace
                type: object
              template:
                properties:
                  metadata:
                    description: Metadata specifies labels and annotations to add
                      to the RSync object.
                    properties:
                      annotations:
                        additionalProperties:
                          type: string
                        type: object
                      labels:
                        additionalProperties:
                          type: string
                        type: object
                    type: object
                  spec:
                    properties:
                      git:
                        properties:
                          auth:
                            type: string
                          branch:
                            type: string
                          dir:
                            type: string
                          gcpServiceAccountEmail:
                            type: string
                          noSSLVerify:
                            type: boolean
                          period:
                            type: string
                          proxy:
                            type: string
                          repo:
                            type: string
                          revision:
                            type: string
                          secretRef:
                            description: SecretReference contains the reference to
                              the secret
                            properties:
                              name:
                                description: Name represents the secret name
                                type: string
                            type: object
                        required:
                        - auth
                        - repo
                        type: object
                      oci:
                        description: Oci contains configuration specific to importing
                          resources from an OCI package. This definition is copied
                          from https://github.com/GoogleContainerTools/kpt-config-sync/blob/main/pkg/api/configsync/v1beta1/ociconfig.go
                        properties:
                          auth:
                            description: auth is the type of secret configured for
                              access to the OCI package. Must be one of gcenode, gcpserviceaccount,
                              or none. The validation of this is case-sensitive. Required.
                            enum:
                            - gcenode
                            - gcpserviceaccount
                            - none
                            type: string
                          dir:
                            description: 'dir is the absolute path of the directory
                              that contains the local resources.  Default: the root
                              directory of the image.'
                            type: string
                          gcpServiceAccountEmail:
                            description: 'gcpServiceAccountEmail specifies the GCP
                              service account used to annotate the RootSync/RepoSync
                              controller Kubernetes Service Account. Note: The field
                              is used when secretType: gcpServiceAccount.'
                            type: string
                          image:
                            description: 'image is the OCI image repository URL for
                              the package to sync from. e.g. `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME`.
                              The image can be pulled by TAG or by DIGEST if it is
                              specified in PACKAGE_NAME. - Pull by tag: `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME:TAG`.
                              - Pull by digest: `LOCATION-docker.pkg.dev/PROJECT_ID/REPOSITORY_NAME/PACKAGE_NAME@sha256:DIGEST`.
                              If neither TAG nor DIGEST is specified, it pulls with
                              the `latest` tag by default.'
                            type: string
                          period:
                            description: 'period is the time duration between consecutive
                              syncs. Default: 15s. Note to developers that customers
                              specify this value using string (https://golang.org/pkg/time/#Duration.String)
                              like "3s" in their Custom Resource YAML. However, time.Duration
                              is at a nanosecond granularity, and it is easy to introduce
                              a bug where it looks like the code is dealing with seconds
                              but its actually nanoseconds (or vice versa).'
                            type: string
                        required:
                        - auth
                        type: object
                      sourceFormat:
                        type: string
                      sourceType:
                        type: string
                    type: object
                type: object
              type:
                enum:
                - RootSync
                - RepoSync
                type: string
            type: object
          status:
            description: RemoteSyncStatus defines the observed state of RemoteSync
            properties:
              conditions:
                description: Conditions describes the reconciliation state of the
                  object.
                items:
                  description: "Condition contains details for one aspect of the current
                    state of this API Resource. --- This struct is intended for direct
                    use as an array at the field path .status.conditions.  For example,
                    \n type FooStatus struct{ // Represents the observations of a
                    foo's current state. // Known .status.conditions.type are: \"Available\",
                    \"Progressing\", and \"Degraded\" // +patchMergeKey=type // +patchStrategy=merge
                    // +listType=map // +listMapKey=type Conditions []metav1.Condition
                    `json:\"conditions,omitempty\" patchStrategy:\"merge\" patchMergeKey:\"type\"
                    protobuf:\"bytes,1,rep,name=conditions\"` \n // other fields }"
                  properties:
                    lastTransitionTime:
                      description: lastTransitionTime is the last time the condition
                        transitioned from one status to another. This should be when
                        the underlying condition changed.  If that is not known, then
                        using the time when the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: message is a human readable message indicating
                        details about the transition. This may be an empty string.
                      maxLength: 32768
                      type: string
                    observedGeneration:
                      description: observedGeneration represents the .metadata.generation
                        that the condition was set based upon. For instance, if .metadata.generation
                        is currently 12, but the .status.conditions[x].observedGeneration
                        is 9, the condition is out of date with respect to the current
                        state of the instance.
                      format: int64
                      minimum: 0
                      type: integer
                    reason:
                      description: reason contains a programmatic identifier indicating
                        the reason for the condition's last transition. Producers
                        of specific condition types may define expected values and
                        meanings for this field, and whether the values are considered
                        a guaranteed API. The value should be a CamelCase string.
                        This field may not be empty.
                      maxLength: 1024
                      minLength: 1
                      pattern: ^[A-Za-z]([A-Za-z0-9_,:]*[A-Za-z0-9_])?$
                      type: string
                    status:
                      description: status of the condition, one of True, False, Unknown.
                      enum:
                      - "True"
                      - "False"
                      - Unknown
                      type: string
                    type:
                      description: type of condition in CamelCase or in foo.example.com/CamelCase.
                        --- Many .condition.type values are consistent across resources
                        like Available, but because arbitrary conditions can be useful
                        (see .node.status.conditions), the ability to deconflict is
                        important. The regex it matches is (dns1123SubdomainFmt/)?(qualifiedNameFmt)
                      maxLength: 316
                      pattern: ^([a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*/)?(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])$
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: 'INSERT ADDITIONAL STATUS FIELD - define observed state
                  of cluster Important: Run "make" to regenerate code after modifying
                  this file'
                format: int64
                type: integer
              syncCreated:
                description: Internal only. SyncCreated describes if the external
                  sync has been created.
                type: boolean
              syncStatus:
                description: SyncStatus describes the observed state of external sync.
                type: string
            required:
            - syncCreated
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
