:root {
  --content-max-width: 60em;
  --search-input-color: black;
  --search-result-heading-color: white;
  --search-result-keyword-background: unset;
  --search-result-keyword-margin: unset;
  --search-result-keyword-font-weight: 800;
  --theme-color: #3970e4;
  --sidebar-background: #0f3074;
  --sidebar-nav-link-color: rgba(255, 255, 255, 0.75);
  --sidebar-nav-link-color--active: white;
  --sidebar-nav-link-font-weight--active: 600;
  --sidebar-nav-link-text-decoration--active: underline;
  --sidebar-nav-link-before-content-l3: none;
  --sidebar-name-color: white;
  --sidebar-toggle-offset-top: unset;
  --sidebar-width: 20rem;
  --pagination-label-font-size: var(--font-size-l);
  --pagination-title-font-size: 0px;
}

.container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.close,
.close:focus,
.close:hover {
  float: unset;
  font-size: unset;
  font-weight: unset;
  line-height: unset;
  color: unset;
  text-shadow: unset;
  filter: unset;
  opacity: unset;
}

.cover-main h1 img {
  height: 72px;
}

.cover-main blockquote {
  border-left: unset;
}

.cover.show {
  display: flex !important;
}

body {
  background-color: unset;
  line-height: unset;
  font-family: unset;
  font-size: unset;
}

h1 {
  line-height: unset;
}

.dropdown-toggle {
  background: var(--theme-color);
  border: none;
}

.sidebar {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}

.sidebar-toggle {
  bottom: 0;
}

.sidebar > h1 {
  font-size: var(--sidebar-name-font-size);
}

.sidebar > h1 img {
  height: 32px;
}

/* Hide inactive lists whose titles aren't links. */
.sidebar-nav ul a + ul.inactive {
  display: none;
}

.sidebar-nav ul a {
  white-space: unset;
}

.sidebar-nav .book-outline ul {
  margin-left: var(--sidebar-nav-indent);
}

#cli-changes ~ .table-wrapper * {
  --table-cell-border-width: 1px;
  --table-cell-padding: 0.5em 0.5em;
  --table-head-border-width: 1px;
  --table-row-even-background: var(--mono-tint3);
  --table-row-odd-background: inherit;
  table-layout: fixed;
  white-space: initial;
}

.docsify-pagination-container {
  overflow: hidden;
  height: 76px;
  margin-bottom: -24px;
}

pre.language-shell button.copy-button {
  position: absolute;
  top: 2px;
  right: 3em;
  background: inherit;
  border: none;
  opacity: 0.3;
}

pre.language-shell button.copy-button span {
  font-size: 18px;
}

pre.language-shell button.copy-button:hover {
  opacity: 1;
}

.github-widget {
  position: absolute;
  left: 47%;
  margin-top: 2.5em;
  padding-top: 8px;
}

.github-widget .material-icons-outlined {
  opacity: 0.3;
  transition: all 0.2s;
}

.github-widget .material-icons-outlined:hover {
  opacity: 1;
}

.pagination-item-label {
  z-index: -1;
  position: relative;
}

.pagination-item a:hover {
  color: black;
}
