:root {
  --content-max-width: 60em;
  --search-input-color: black;
  --search-result-heading-color: white;
  --search-result-keyword-background: unset;
  --search-result-keyword-margin: unset;
  --search-result-keyword-font-weight: 800;
  --theme-color: #06689f;
  --sidebar-background: #06689f;
  --sidebar-nav-link-color: rgba(255, 255, 255, 0.75);
  --sidebar-nav-link-color--active: white;
  --sidebar-nav-link-font-weight--active: 600;
  --sidebar-nav-link-text-decoration--active: underline;
  --sidebar-nav-link-before-content-l3: none;
  --sidebar-name-color: white;
  --sidebar-toggle-offset-top: unset;
  --sidebar-width: 20rem;
  --pagination-label-font-size: var(--font-size-l);
  --pagination-title-font-size: 0px;
}

.cover-main h1 img {
  height: 72px;
}

body {
  line-height: unset;
  font-family: unset;
  font-size: unset;
}
h1 {
  line-height: unset;
}

.dropdown-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sidebar {
  color: rgba(255, 255, 255, 0.75);
  font-size: 16px;
}

.sidebar-toggle {
  bottom: 0;
}

.sidebar > h1 {
  font-size: var(--sidebar-name-font-size);
}

.sidebar > h1 img {
  height: 32px;
}

/* Hide inactive lists whose titles aren't links. */
.sidebar-nav ul a + ul.inactive {
  display: none;
}

.sidebar-nav ul a {
  white-space: unset;
}

.sidebar-nav .book-outline ul {
  margin-left: var(--sidebar-nav-indent);
}

.docsify-pagination-container {
  margin-bottom: -24px;
}

.github-widget {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
}

.github-widget .material-icons-outlined {
  opacity: 0.3;
  transition: all 0.2s;
}

.github-widget .material-icons-outlined:hover {
  opacity: 1;
}

.pagination-item-label {
  z-index: -1;
  position: relative;
}
