---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - configmaps
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - container.cnrm.cloud.google.com
  resources:
  - containerclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - gitops.kpt.dev
  resources:
  - progressiverolloutstrategies
  - remotesyncs
  - rollouts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gitops.kpt.dev
  resources:
  - progressiverolloutstrategies/finalizers
  - remotesyncs/finalizers
  - rollouts/finalizers
  verbs:
  - update
- apiGroups:
  - gitops.kpt.dev
  resources:
  - progressiverolloutstrategies/status
  - remotesyncs/status
  - rollouts/status
  verbs:
  - get
  - patch
  - update
