- [Installation](installation/)
- [Book](book/)
{{bookLayout}}
- [Reference](reference/)
  - [CLI](reference/cli/)
    - [pkg](reference/cli/pkg/)
      - [diff](reference/cli/pkg/diff/)
      - [get](reference/cli/pkg/get/)
      - [init](reference/cli/pkg/init/)
      - [tree](reference/cli/pkg/tree/)
      - [update](reference/cli/pkg/update/)
    - [fn](reference/cli/fn/)
      - [render](reference/cli/fn/render/)
      - [eval](reference/cli/fn/eval/)
      - [sink](reference/cli/fn/sink/)
      - [source](reference/cli/fn/source/)
    - [live](reference/cli/live/)
      - [apply](reference/cli/live/apply/)
      - [destroy](reference/cli/live/destroy/)
      - [init](reference/cli/live/init/)
      - [install-resource-group](reference/cli/live/install-resource-group/)
      - [migrate](reference/cli/live/migrate/)
      - [status](reference/cli/live/status/)
  - [Schema](reference/schema/)
    - [Kptfile](reference/schema/kptfile/)
    - [FunctionResultList](reference/schema/function-result-list/)
    - [ResourceList](reference/schema/resource-list/)
    - [CRD Status Convention](reference/schema/crd-status-convention/)
- [Functions Catalog](https://catalog.kpt.dev/ ":target=_self")
  - [Curated](https://catalog.kpt.dev/ ":target=_self")
  - [Contrib](https://catalog.kpt.dev/contrib/ ":target=_self")
- [Guides](guides/)
  - [Tenant Onboarding](guides/tenant-onboarding.md)
- [FAQ](faq/)
- [Contact](contact/)
