// Header navigation bar.
.td-navbar {
	background: hsla(0, 0%, 99%, 0.98);
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
	@include media-breakpoint-up(lg) {
		padding-top: 15px;
		padding-bottom: 15px;
		min-height: 5rem;
	}
	&:after {
		background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent);
		content: '';
		height: 20px;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 1;
	}
	// Logo area.
	.navbar-brand {
		@include media-breakpoint-up(lg) {
			padding-top: 0;
			padding-bottom: 0rem;
			margin-left: 2rem;
		}
		.navbar-logo {
			display: block;
			svg {
				height: 40px;
			}
		}
	}

	// Main nav bar.
	.td-navbar-nav-scroll {
		margin-top: 0;
		.navbar-nav {
			padding-bottom: 0;
			display: flex;
			align-items: center;
			align-content: center;
			@include media-breakpoint-down(md) {
				padding-bottom: 0;
				line-height: 3;
			}

			@include media-breakpoint-up(md) {
				overflow: visible;
			}

			.nav-item {
				.nav-link {
					font-weight: 600;
					padding-right: 0.3rem;
					padding-left: 0.3rem;
					@include media-breakpoint-down(md) {
						padding: 0 !important;
					}
					@include media-breakpoint-up(md) {
						letter-spacing: 0.02em;
					}
					span {
						position: relative;
						@include media-breakpoint-up(md) {
							padding-left: 2px;
							padding-right: 2px;
						}
						@media (min-width: 1050px) {
							padding-left: 6px;
							padding-right: 6px;
						}
						&:after {
							content: '';
							position: absolute;
							left: 0;
							right: 0;
							bottom: -32px;
							@include media-breakpoint-down(lg) {
								bottom: -35px;
							}
							@include media-breakpoint-down(md) {
								bottom: -12px;
							}
							height: 4px;
							display: block;
							width: 100%;
							background-color: transparent;
						}
					}
					&.active span:after {
						background-color: #4bc400b3;
					}
				}
				// Topnav dropdown.
				&.dropdown {
					margin-left: 1rem;
					.dropdown-item {
						font-weight: 600;
						&:hover,
						&:focus {
							color: $black;
							text-decoration: none;
						}
					}
				}
				// Adds some spacing to the end of the mobile menu when it overflows.
				@media (max-width: 500px) {
					&:last-child {
						.nav-link span {
							margin-right: 20px;
						}
					}
				}
			}
		}
	}
}
