# Copyright 2019 The kpt Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Go
on:
  pull_request:
    paths-ignore:
      - "Formula/**"
      - "demos/**"
      - "docs/**"
      - "documentation/**"
      - "firebase/**"
      - "logo/**"
      - "package-examples/**"
      - "release/images/**"
      - "release/tag/**"
      - "site/**"
      - "**.md"
  push:
    branches:
    - '!dependabot/*'

env:
  GOPATH: ${{ github.workspace }}/go

jobs:
  build-test-linux:
    name: Build-test-kpt-CLI
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        runtime: [docker, podman]
    steps:
      # The CI complains about the podman not installed, adding some debugging info here.
      - name: check podman
        if: ${{ matrix.runtime }} == 'podman'
        run: |
          which podman
          podman version
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.24'
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          path: ${{ env.GOPATH }}/src/github.com/kptdev/kpt
      - name: Build, Test, Lint
        working-directory: ${{ env.GOPATH }}/src/github.com/kptdev/kpt
        run: |
          git config --global user.email you@example.com
          git config --global user.name Your Name
          make all
          make test-docker
        env:
          KRM_FN_RUNTIME: ${{ matrix.runtime }}

  build-macos:
    runs-on: macos-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '>=1.24'
        id: go
      - name: Check out code into the Go module directory
        uses: actions/checkout@v5
        with:
          path: ${{ env.GOPATH }}/src/github.com/kptdev/kpt
      - name: Build
        working-directory: ${{ env.GOPATH }}/src/github.com/kptdev/kpt
        run: |
          make build

# TODO: fix https://github.com/kptdev/kpt/issues/3463
#  build-windows:
#    runs-on: windows-2019
#    steps:
#      - name: Set up Go
#        uses: actions/setup-go@v6
#        with:
#          go-version: '>=1.24'
#        id: go
#      - name: Check out code into the Go module directory
#        uses: actions/checkout@v5
#        with:
#          path: ${{ env.GOPATH }}/src/github.com/kptdev/kpt
#      - name: Build
#        working-directory: ${{ env.GOPATH }}/src/github.com/kptdev/kpt
#        run: |
#          make build
